.complaint-updates {
    margin: 0;
    padding: 0;
    color: #333;
    font: 14px Roboto;
    &__item {
        background: rgba(136, 187, 139, 0.15);
        border-left: 3px solid #88bb8b;
        padding: 8px 8px 8px 15px;
        margin: 10px 0 5px;
        color: #333;
        font-size: 16px;
        line-height: 26px;
        &_author {
            border-left: 3px solid #eaad1a;
            background: #f3f5f5;
        }
    }
    &_user {
        border-left: 3px solid #d5d7d8;
        background: #f3f5f5;
    }
    &_support {
        border-left: 3px solid #799ee9;
        background: #f3f5f5;
    }
    &__title {
        color: #008000;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
    }
    &__date {
        display: block;
        margin-bottom: 15px;
        color: #999;
    }
    &__status {
        color: #999;
        font-weight: 700;
        font-size: 18px;
    }
    &__top {
        color: #999;
        display: block;
        margin-bottom: 15px;
    }
    &__user {
        color: #105cb6;
        text-decoration: none;
    }
    &__images {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        line-height: 0;
        vertical-align: top;
    }
    &__image {
        display: inline-block;
        padding: 1px;
        margin: 3px 20px 3px 0;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
}